force-app/main/default/flows/Add_To_Real_Cost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Cost</name>
        <label>Add_Cost</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Project.Real_Cost__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cost_Of_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Record</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Cost_Of_Task</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Worked_Hours__c} * {!$Record.ProjectLine_Resource__r.Resource__r.RatePerHour__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add Costs When Hours Are {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add To Real Cost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent_Project</name>
        <label>Get Parent Project</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Cost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProjectLine_Resource__r.Project_Product__r.Project__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Record</name>
        <label>Update Parent Record</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputReference>Get_Parent_Project</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Worked_Hours__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Project_Task__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
