force-app/main/default/flows/Check_Projects_to_Begin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Incomplete_Tasks</name>
        <label>Email Incomplete Tasks</label>
        <locationX>842</locationX>
        <locationY>636</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Incomplete_Tasks</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Project_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Project_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Project Cannot End, incomplete tasks</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_To_PM</name>
        <label>Email To PM</label>
        <locationX>314</locationX>
        <locationY>636</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ProjectNotReady</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Project_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Project_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ProjectNotReady</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Date</name>
        <label>Check Date</label>
        <locationX>644</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-kickoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Data</targetReference>
            </connector>
            <label>Begin Today</label>
        </rules>
        <rules>
            <name>End_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Ready_for_Finalization</targetReference>
            </connector>
            <label>End Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_is_Ready_to_Begin</name>
        <label>Project is Ready to Begin</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Email_To_PM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Ready</defaultConnectorLabel>
        <rules>
            <name>Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_Status</targetReference>
            </connector>
            <label>Ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_is_Ready_to_End</name>
        <label>Project is Ready to End</label>
        <locationX>710</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Email_Incomplete_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incomplete Tasks</defaultConnectorLabel>
        <rules>
            <name>Ready_to_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allTasksCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Completed</targetReference>
            </connector>
            <label>Ready to End</label>
        </rules>
    </decisions>
    <interviewLabel>Check Projects to Begin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Projects to Begin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Project_Status</name>
        <label>Update Project Status</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_To_Completed</name>
        <label>Update Status To Completed</label>
        <locationX>578</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Date</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-kickoff</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-06-01</startDate>
            <startTime>14:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Project_Ready_for_Finalization</name>
        <label>Project Ready for Finalization</label>
        <locationX>710</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Project_is_Ready_to_End</targetReference>
        </connector>
        <flowName>Check_for_Project_Ready_to_End</flowName>
        <inputAssignments>
            <name>projectRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>allTasksCompleted</assignToReference>
            <name>allComplete</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IncompleteTasks</assignToReference>
            <name>IncompleteTasks</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validate_Data</name>
        <label>Validate Data</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Project_is_Ready_to_Begin</targetReference>
        </connector>
        <flowName>Validate_Project_Readiness</flowName>
        <inputAssignments>
            <name>projectRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsApproved</assignToReference>
            <name>Approved</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email_PM</assignToReference>
            <name>Failed_Requirements</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Incomplete_Tasks</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!IncompleteTasks}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ProjectNotReady</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Project Is Not Ready to Begin&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>allTasksCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Email_PM</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IncompleteTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>IsApproved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
