force-app/main/default/flows/Manual_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_PM</name>
        <label>Email to PM</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Fail_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Project_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Fail_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Approved</name>
        <label>Approved</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Change_Back</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed Requirements</defaultConnectorLabel>
        <rules>
            <name>Requirements_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Requirements Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checks_Manual_Change</name>
        <label>Checks Manual Change</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Automated</defaultConnectorLabel>
        <rules>
            <name>Is_Manual</name>
            <conditionLogic>1 AND 2 AND NOT(3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-kickoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>&quot;Automated&quot;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Data</targetReference>
            </connector>
            <label>Is Manual</label>
        </rules>
    </decisions>
    <interviewLabel>Manual Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manual Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Change_Back</name>
        <label>Change Back</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Email_to_PM</targetReference>
        </connector>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Pre-kickoff</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checks_Manual_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Validate_Data</name>
        <label>Validate Data</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Approved</targetReference>
        </connector>
        <flowName>Validate_Project_Readiness</flowName>
        <inputAssignments>
            <name>projectRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsApproved</assignToReference>
            <name>Approved</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Fail_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Project {!$Record.Name} failed to meet requirements and can not be started, therefore has been moved back to {!$Record.Stage__c}. Check requirements and submit again.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Fail_Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error Starting Project {!$Record.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>IsApproved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
