force-app/main/default/flows/Task_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Task_Details</name>
        <label>Assign Task Details</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>taskID.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskID.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskID.Estimated_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Hours.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskID.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Starting_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskID.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Ending_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskID.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskID.ProjectLine_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskID.Worked_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Creation</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Task Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Task_Creation</name>
        <label>Task Creation</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <inputReference>taskID</inputReference>
    </recordCreates>
    <recordLookups>
        <name>pliRecord</name>
        <label>pliRecord</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Project_Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProjectLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>projectRecord</name>
        <label>projectRecord</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pliRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Project_Product__r.Project__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Task_Details</name>
        <label>Task Details</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Task_Details</targetReference>
        </connector>
        <fields>
            <name>title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Assignment Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Task_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Task_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>project_Name</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Project {!projectRecord.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>pliRole</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!recordId.Resource__r.FirstName} {!recordId.Resource__r.LastName} &lt;/b&gt;&lt;i&gt;({!pliRecord.Role__c}) &lt;/i&gt;- Allocated {!recordId.Allocated_Hours__c} hours, from {!recordId.Start_Date__c} to {!recordId.End_Date__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>taskDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Task Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Task_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Task_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Task_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Task Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Task_Description</name>
                    <fieldText>Task Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Task_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Task_Starting_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.Start_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Task Starting Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Task Start Date cannot be before Resource Allocation Start Date&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Task_Starting_Date} &lt; {!recordId.Start_Date__c}, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Task_Ending_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.End_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Task Ending Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Task End Date cannot be after Resource Allocation End Date&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Task_Ending_Date} &gt; {!recordId.End_Date__c}, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Estimated_Hours</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Estimated Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <elementReference>recordId.Allocated_Hours__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Create Task</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>projectRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProjectLine_Resource__c</objectType>
    </variables>
    <variables>
        <name>taskID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
</Flow>
