force-app/main/default/flows/Validate_Project_Readiness.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Allocated_Hours_Arch_0</name>
        <label>Add Allocated Hours Arch</label>
        <locationX>2074</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Sum_Of_Arch_Hours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Arch_Hours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Arch_Allocated_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Allocated_Hours_Cons_0</name>
        <label>Add Allocated Hours Cons</label>
        <locationX>2778</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Sum_Of_Cons_Hours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Cons_Hours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Cons_Allocated_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Allocated_Hours_Dev_0</name>
        <label>Add Allocated Hours Dev</label>
        <locationX>2426</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Sum_Of_Dev_Hours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Dev_Hours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Dev_Allocated_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_NoProfit</name>
        <label>Add NoProfit</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Failed_Requirements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoProfitableOutput</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_NoSquadLead</name>
        <label>Add NoSquadLead</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Failed_Requirements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoSquadLeadOutput</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_NotEnoughHours</name>
        <label>Add NotEnoughHours</label>
        <locationX>1678</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>Failed_Requirements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NotEnoughHoursOutput</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Approve</name>
        <label>Approve</label>
        <locationX>1942</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>Approved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Hours_Sold_Arch</name>
        <label>Set Hours Sold Arch</label>
        <locationX>1986</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Arch_Hours_Sold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Resources.Quantity_hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Arch_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hours_Sold_Cons</name>
        <label>Set Hours Sold Cons</label>
        <locationX>2690</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Cons_Hours_Sold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Resources.Quantity_hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consultant_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hours_Sold_Dev</name>
        <label>Set Hours Sold Dev</label>
        <locationX>2338</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Dev_Hours_Sold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Resources.Quantity_hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dev_Resources</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Requirements</name>
        <label>Check Requirements</label>
        <locationX>1810</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Approve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Requirements Met</defaultConnectorLabel>
        <rules>
            <name>Not_Enough_Hours</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Sum_Of_Arch_Hours</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Arch_Hours_Sold</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sum_Of_Dev_Hours</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Dev_Hours_Sold</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sum_Of_Cons_Hours</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Cons_Hours_Sold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_NotEnoughHours</targetReference>
            </connector>
            <label>Not Enough Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Requirements_0</name>
        <label>Check Requirements</label>
        <locationX>930</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Project_Resources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Not_Profitable_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>projectRecord.Profitable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_NoProfit</targetReference>
            </connector>
            <label>Not Profitable</label>
        </rules>
        <rules>
            <name>No_Squad_Leader_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>projectRecord.Squad_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>projectRecord.Squad_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_NoSquadLead</targetReference>
            </connector>
            <label>No Squad Leader</label>
        </rules>
    </decisions>
    <decisions>
        <name>Divide_by_Role</name>
        <label>Divide by Role</label>
        <locationX>2470</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Arch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Resources.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Architect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hours_Sold_Arch</targetReference>
            </connector>
            <label>Arch</label>
        </rules>
        <rules>
            <name>Dev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Resources.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hours_Sold_Dev</targetReference>
            </connector>
            <label>Dev</label>
        </rules>
        <rules>
            <name>Cons</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Resources.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hours_Sold_Cons</targetReference>
            </connector>
            <label>Cons</label>
        </rules>
    </decisions>
    <formulas>
        <name>Add_Arch_Hours</name>
        <dataType>Number</dataType>
        <expression>{!Sum_Of_Arch_Hours} +{!Add_Arch_Allocated_Hours.Allocated_Hours__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Add_Cons_Hours</name>
        <dataType>Number</dataType>
        <expression>{!Sum_Of_Cons_Hours} + {!Add_Cons_Allocated_Hours.Allocated_Hours__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Add_Dev_Hours</name>
        <dataType>Number</dataType>
        <expression>{!Sum_Of_Dev_Hours} + {!Add_Dev_Allocated_Hours.Allocated_Hours__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Validate Project Readiness - {!projectRecord.Name} ({!projectRecord.Id})</interviewLabel>
    <label>Validate Project Readiness</label>
    <loops>
        <name>Add_Arch_Allocated_Hours</name>
        <label>Add Arch Allocated Hours</label>
        <locationX>1986</locationX>
        <locationY>878</locationY>
        <collectionReference>Arch_Resources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Allocated_Hours_Arch_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Project_Resources</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Add_Cons_Allocated_Hours</name>
        <label>Add Cons Allocated Hours</label>
        <locationX>2690</locationX>
        <locationY>878</locationY>
        <collectionReference>Consultant_Resources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Allocated_Hours_Cons_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Project_Resources</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Add_Dev_Allocated_Hours</name>
        <label>Add Dev Allocated Hours</label>
        <locationX>2338</locationX>
        <locationY>878</locationY>
        <collectionReference>Dev_Resources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Allocated_Hours_Dev_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Project_Resources</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Project_Resources</name>
        <label>Project Resources</label>
        <locationX>1810</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Project_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Divide_by_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Requirements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Arch_Resources</name>
        <label>Arch Resources</label>
        <locationX>1986</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Arch_Allocated_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project_Resources.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProjectLine_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Consultant_Resources</name>
        <label>Consultant Resources</label>
        <locationX>2690</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Cons_Allocated_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project_Resources.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProjectLine_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Dev_Resources</name>
        <label>Dev Resources</label>
        <locationX>2338</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Dev_Allocated_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project_Resources.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProjectLine_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Products</name>
        <label>Get Project Products</label>
        <locationX>930</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Requirements_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProjectLineItem__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>Quantity_hours__c</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Approved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Arch_Hours_Sold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Cons_Hours_Sold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Dev_Hours_Sold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Failed_Requirements</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NoProfitableOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>The Project is Not Profitable</stringValue>
        </value>
    </variables>
    <variables>
        <name>NoSquadLeadOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotEnoughHoursOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not enough hours allocated for some or all roles</stringValue>
        </value>
    </variables>
    <variables>
        <name>projectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>Sum_Of_Arch_Hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Sum_Of_Cons_Hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Sum_Of_Dev_Hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
